
div{
	margin: auto;
}

input{
	font-size: 25px;
	border: solid black 3px;
	padding: 5px;
	border-radius: 10px;
}

button{
	background-color: green;
	color: white;
	text-align: center;
	text-shadow: 2px 2px black;
	font-size: 25px;
	border: solid white 3px;
	padding: 5px;
	border-radius: 10px;
}

.container{
	width: 960px;
	height: 1000px;
}

.beercontainer img{
	height: 400px;
	width: 100%;
	text-align: center;
	display: block;
}

.beercontainer{
	width: 400px;
	height: 400px;
}
.promptbord{
	float: left;
	margin-top: 100px;
	z-index: 1;
}
.messagebord{
	float: right;
	margin-top: 100px;
	z-index: 1;
}
.emptyglass, .fullglass{
	width: 400px;
	position: absolute;
	top: 10px;
	overflow: hidden;
}

.emptyglass{
	height: 400px;
	z-index: -1;
	opacity: 0.9;
	overflow: hidden;
}

.fullglass{
	height: 400px;
	z-index: -2;
	opacity: 0.9;
	overflow: hidden;
}
.matecontainer{
	height: 400px;
	width: 400px;
	z-index: 0;
	opacity: 1;
	overflow: hidden;
}



.table{
	position: relative;
	height: 300px;
	width: 800px;
	background: url("./Images/table.jpg");
	background-position: center;
	padding: 100px;

}

.game{
	position: relative;
	height: 300px;
	width: 800px;
	background: url("./Images/table.jpg");
	background-position: center;
	padding: 100px;
	display: none;
	text-align: center;
	color: white;
}

.game img{
	height: 300px;
	margin-top: -50px;
}
p{
	color: white;
	font-size: 25px;
	text-shadow: 0px 0px 5px black;
}



.cardst{
	position: absolute;
	background: white;
}

.adduser{
	display: inline-block;
}

.matest{
    position: absolute;
    text-align: center;
    width: 400px;
}
.matecontainer p{
	font-size: 30px;
	text-shadow: 0px 0px 5px #25c1e8;
	color: black;
}