/* ------------------ golbal footer------------------------------------------------------------------------------ **/
/* ------------------ golbal footer------------------------------------------------------------------------------ **/
/* ------------------ golbal footer------------------------------------------------------------------------------ **/
/* ------------------ golbal footer------------------------------------------------------------------------------ **/


/*------------Golbal header   ------------------------------------------------------------------------------------------**/
/*------------Golbal header   ------------------------------------------------------------------------------------------**/
/*------------Golbal header   ------------------------------------------------------------------------------------------**/
/*------------Golbal header   ------------------------------------------------------------------------------------------**/
header{
	opacity: 0.75;
	position: fixed;
	width: 100%;
	z-index: 1;
	top: 0px;
	margin-top: 10px;
}
header div{
	height: 75px;
	background-color: black;
	
}
header h1{
	width: 34%;
	float: left;
	text-align: left;
	padding-left: 2%;
	line-height: 75px;
	vertical-align: middle;
}
header nav{
	width: 64%;
	float: right;
	text-align: right;
	padding-top: 20px;
}
header ul li{
	display:inline;
	padding-right: 10px; 
}
header a{
	color: white;
}

.navhighlight{
	font-size: 25px;
}
/**------------Body-------------------------------------------------------------------**/
/**------------Body-------------------------------------------------------------------**/
/**------------Body-------------------------------------------------------------------**/
/**------------Body-------------------------------------------------------------------**/
.wrapper{
	width:960px;/** set main widith to 960 px*/
	margin: 0 auto;
	z-index: 0;
}
.outer{
	width: 100%;
	border: solid black 2px;
	border-radius: 25px;
	padding: 0px;
	margin-bottom: 350px;
}
.sectiontitle{
	margin-left: 35px;
	margin-top: 10px;
	text-shadow: black 0px 0px 8px;
	font-size: 45px;
}
.inner{
	background-color: rgba(255, 255, 255, 0.8);
	margin: 10px;
	padding: 20px;
	border-radius: 25px;
	border: solid black 2px;
	color: black;
}
/*about me section*/
#aboutme{
	margin-top: 100px;
}

.imagerow, .imageblock{
	text-align: center;
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
} 
.aboutmetext{
	/* width: calc(100% - 400px);
	height: 250px; */
	text-align: left;
	padding: 0px;
	margin: 10px;
	display: flex;
  	justify-content: flex-end;
	flex-direction: column;
	float: right;  
	background-color: rgba(160, 160, 190,0.8); 
	
}
.aboutmetext p{
	padding: 20px;
}
.aboutmetext h1{
	padding: 20px;
}

img {
	line-height: 300px;
	vertical-align: middle;
	margin: 10px;
	display: inline-block;
}
/* resume downloads section */
.righthalf, .lefthalf{
	width: calc(50% - 10px);
	height: 100%;
	display: inline-block;
}
.lefthalf{
	vertical-align: top;
}
.righthalf h2{
	font-size: 25px;
	margin: 10px;
	padding: 10px;
}
.righthalf a{
	font-size: 20px;
	margin: 10px;
	padding: 10px;
}
/*Footer-------------------*/

.footerout{
	width: 100%;
	border-top: solid black 2px;
}
.footerin{
	width: 100%;
	background-color: rgba(255, 255, 255, 0.7);
	margin-top: 10px;
	padding-top: 80px;
	padding-bottom: 80px;
	border-top: solid black 2px;
	color: black;
	text-align: center;
}
.footerin hr{
	width: 20%;
	margin: auto;
}

/*projects sections---------- */
.boldlink{
	font-size: 20px;
	font-weight: bold;
}
ul.projectitem {
	list-style-type: circle;
	margin-left: 25px;
  }