
/**-------- media readjustments ---- */
/**cell phone*/
@media only screen and (max-width: 960px){

h1{
	font-size: 3em;
}
h3{
	font-size: 2em;
}
h3{
	font-size: 2em;
}
p,a{
	font-size: 1.75em;
}
nav{
	margin-right: 50px;
	font-size: 1.0em;
}

footer{
	opacity: 1;
}

footer ul{
	font-size: 1.5em;
	opacity: 1;
	margin-right: 75px;

}
footer div{
	margin: 0px auto;
	height: 100px;
	width: 100px;
	background-color: blue;
	border-radius: 50%;
	opacity: 1;
}

img{
	max-height: 900px;
	max-width: 700px;
}

#galoispic{
	max-height: 500px;
}

/*section sizing*/
#aboutmesection{
	padding-top: 200px;
	height: 1700px;
}
#inttop{
	height: 1930px;
}
#interestssection{
	height: 5000px;
}
#tutoringsection{
	height: 1400px
} 
#resumesection{
	height: 1600px
} 
#downloadsection{
	height: 1800px;
}
	

.measide{
	float: none;
	width: 100%;
}
#aboutmesection .txtcontainer{
	float: none;
	width: 100%;
}
/*interests*/
#meintpicsec{
	float: none;
	width: 100%;
}
#interestssection #inttxt1{
	float: none;
	width: 100%;
}
#mathstorysec{
	float: none;
	width: 100%;
}

#tutoringsection table{
	width: 80%;
}

#downloadsection{
	width: 90%;
	margin: auto;
}

}
/*@media (max-width: 960px){

	body{
		background-size: 100% auto;
		background-position: center center;
		background-attachment: fixed;  
		background-repeat: no-repeat;	
		background-color: black;
	}

	section{
		width: 90%;
	}

	table{
		width: 90%;
	}

}*/



