
/*-----------global defaults-----------------------------------------------------------------------------------**/
/*-----------global defaults-----------------------------------------------------------------------------------**/
/*-----------global defaults-----------------------------------------------------------------------------------**/
body{
	color: white;
	font-family: Arial;
	font-size: 16px;
	text-align: center;
	line-height:1.5;
	margin-left: 0;
	/** background image */
	background: url("./Images/background.jpg");
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-attachment: fixed;
	background-position: center center; 
}

section{
	width:100%;
	margin: auto;
}
section  h1{
	font-size: 30px;
}
p{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;	
}

table{
	width:50%;
	margin:auto;
	text-align: left;
	background-color: black;
	border-radius: 25px;
	padding: 25px;
	
}

/**global container**/
.wrapper{
	width:960px;
	margin: auto;
}

/**will call this the highlighted section**/
.highlight{
	font-size: 24px;
}

/**-------- media readjustments ---- */

@media only screen and (max-device-width: 960px){

	body{
		background: black;
		font-size: 50px;
	}

	section{
		width: 90%;
	}

	table{
		width: 90%;
	}

	.highlight{
		font-size: 70px;
	}

	.container{
		border: 5px solid white;
	}

}
@media (max-width: 960px){

	body{
		background-size: 100% auto;
		background-position: center center;
		background-attachment: fixed;  
		background-repeat: no-repeat;	
		background-color: black;
	}

	section{
		width: 90%;
	}

	table{
		width: 90%;
	}

}


/* ------------------ golbal footer------------------------------------------------------------------------------ **/
/* ------------------ golbal footer------------------------------------------------------------------------------ **/
/* ------------------ golbal footer------------------------------------------------------------------------------ **/
/* ------------------ golbal footer------------------------------------------------------------------------------ **/

footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 1;
}

footer a{
	text-decoration: none;
	color: white;
	padding: 20px;
	font-size: 20px;
}
footer a:hover{
	font-weight: bold;
	color: purple;
}

footer ul{
	float: right;
	width: 50%;
	padding: 0;
	margin: 0;
	opacity: 0.3;
}
footer ul li{	
	list-style-type: none;
	padding-right: 10px; 
	text-align: right;
}

footer div{
	float: right;
	height: 50px;
	width: 50px;
	background-color: red;
	border-radius: 50%;
	opacity: 0.0;
}

footer div a{
	position: relative;
	top:15px;
}

/*------------Golbal header   ------------------------------------------------------------------------------------------**/
/*------------Golbal header   ------------------------------------------------------------------------------------------**/
/*------------Golbal header   ------------------------------------------------------------------------------------------**/
/*------------Golbal header   ------------------------------------------------------------------------------------------**/

header{
	position:fixed;
	background-color: black;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	z-index: 1;
}

header h1{
	padding-left:20px;
}

header hr {
  height: 4px;
  margin: 0px 0;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0)), color-stop(0.5, #333333), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), #333333, rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0), #333333, rgba(0, 0, 0, 0));
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0), #333333, rgba(0, 0, 0, 0));
  background: linear-gradient(left, rgba(0, 0, 0, 0), #333333, rgba(0, 0, 0, 0));
  border: 0;
}
hr:after {
  display: block;
  content: '';
  height: 30px;
  background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 116, color-stop(0%, #cccccc), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-radial-gradient(center top, farthest-side, #cccccc 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -moz-radial-gradient(center top, farthest-side, #cccccc 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-radial-gradient(center top, farthest-side, #cccccc 0%, rgba(255, 255, 255, 0) 100%);
  background-image: radial-gradient(farthest-side at center top, #cccccc 0%, rgba(255, 255, 255, 0) 100%);
}
nav{
	float:right;
}
nav a:link{
	text-decoration:none;
	color:white;
}
nav a:visited{
	text-decoration:none;
	color:white;
}
nav a:hover{
	color: red;
	font-weight: bold;
}

header h1{
	float: left;
	margin-bottom: 0;
}
header ul{
	margin-left: 0px;
	padding-left: 0;

}
header ul li{
	display:inline;
	padding-right: 10px; 
}



/**----------------Sections ------------------------------------------------------*/
/**----------------Sections ------------------------------------------------------*/
/**----------------Sections ------------------------------------------------------*/
/**----------------Sections ------------------------------------------------------*/




.container{
	background-color: black;
	border-radius: 25px;
	opacity: 0.5;
}



.clearcontainer img{
	width:100%;
  	max-width:100px;
}



.measide{
	float: left;
	width:50%;
}
.container.floatingct{
	float: left;
	width: 50%;
}

.box{
	width:50%;
	float: left;
}

.imageRow{
	padding-bottom: 50px;
	padding-top: 50px;
	width:50%;
	margin:auto;
}
.imageRow img{
	max-height: 100px;
	float: left;
}

.tutoringsection td, th {
    border: 1px solid white;
    text-align: left;
    padding: 8px;
}


/* ------ ID specific css ----------------------------------------------------------------------------------------------------------  */
/* ------ ID specific css ----------------------------------------------------------------------------------------------------------  */
/* ------ ID specific css ----------------------------------------------------------------------------------------------------------  */
/* ------ ID specific css ----------------------------------------------------------------------------------------------------------  */

#interestpic{
	width:100%;
  	max-width:275px;
}
#mepic{
	width:100%;
  	max-width:275px;
}
#galoispic{
	width:100%;
  	max-width:275px;
}

#resumepic{
	width:100%;
  	max-width:500px;
}

#interestssection a{
	color: white;
	text-decoration: none;
}	 
