
/**positioning**/
/*#container{
	position: absolute;
}*/
.stackImage{
	position: absolute;
	overflow: hidden;
	width: 500px;
	z-index: 0;
}
.dragger{
	position: absolute;
	top:125px;
	left: 75px;
	height: 50px;
	width: 50px;
	background-color: red;
	z-index: 2;
	border-radius: 50%;
	opacity: 0.9;
}
.dragger p{
	padding-left: 20px;
	font-size: 20px;
	color: white;
	font-weight: bold;
}
.dragger img{
	height: 50px;
	width: auto;
}
